.container {
  .label {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 9px;
    border-radius: 8px;
    color: #fff;
    padding: 1px 4px;
  }
  .back {
    position: fixed;
    top: 36px;
    left: 10px;
    img {
      width: 16px;
      height: 16px;
    }
  }
  .nav {
    width: 180px;
    position: fixed;
    top: 28px;
    // left: 50%;
    // transform: translateX(-50%);
    left: 105px;
    overflow: hidden;
    z-index: 5;
    & > div {
      float: left;
      line-height: 24px;
      text-align: center;
      font-size: 15px;
      width: 89px;
      color: #fff;
      height: 24px;
      background: rgba(252, 84, 40, 1);
      border-radius: 2px 0px 0px 2px;
    }
    .active {
      background: rgba(255, 255, 255, 1);
      border-radius: 0px 2px 2px 0px;
      color: #000;
    }
  }
  .winner {
    position: relative;
    .bg {
      width: 100%;
    }

    height: 348px;
    .w1 {
      position: absolute;
      top: 90px;
      left: 142px;
      width: 110px;

      .w1img {
        width: 36px;
        height: 36px;
        position: absolute;
        top: -19px;
        left: 10px;
      }
      .user {
        width: 60px;
        height: 60px;
        margin-left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .number {
        text-align: center;
        font-size: 11px;
        color: #fff;
      }
      .name {
        margin-top: 5px;
        font-size: 14px;
        color: #fff;
        span {
          display: inline-block;
          max-width: 56px;
          vertical-align: middle;
          margin-right: 3px;
          line-height: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .focus {
        width: 50px;
        line-height: 23px;
        border: 1px solid rgba(255, 255, 255, 1);
        border-radius: 12px;
        text-align: center;
        font-size: 11px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 5px;
        color: white;
      }
      .active {
        background: rgba(252, 84, 40, 1);
        border: none;
      }
    }
    .w2 {
      left: 30px;
      top: 120px;
    }
    .w3 {
      top: 130px;
      left: 250px;
    }
  }
  .list {
    .item {
      line-height: 77px;
      border-bottom: 1px solid #ddd;
      span {
        display: inline-block;
        vertical-align: middle;
      }
      .kong {
        width: 16px;
        height: 100%;
      }
      .number {
        margin-left: 15px;
        width: 25px;
      }
      .user {
        display: inline-block;
        vertical-align: middle;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .name {
        display: inline-block;
        width: 85px;
        line-height: 15px;
        vertical-align: middle;
        margin-left: 10px;
        img {
          width: 11px;
          height: 11px;
          margin-left: 2px;
          vertical-align: middle;
        }
        span {
          display: inline-block;
          vertical-align: middle;
          max-width: 65px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .win {
        display: inline-block;
        font-weight: 500;
        margin-left: 40px;
      }
      .focus {
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        line-height: 23px;
        border: 1px solid #fc5428;
        border-radius: 12px;
        text-align: center;
        font-size: 11px;
        color: #fc5428;
        margin-left: 35px;
      }
      .bf {
        margin-left: 65px;
      }
      .active {
        background: rgba(252, 84, 40, 1);
        border: none;
        color: #fff;
      }
    }
  }
}
