.container {
  .line {
    background-color: #ddd;
    height: 1px;
    margin-bottom: 25px;
  }
  .title {
    font-size: 15px;
    font-family: PingFang SC;
    font-weight: bold;
    padding-left: 15px;
    span {
      color: #666;
      font-size: 13px;
    }
  }
  .nav {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 35px;
    div {
      text-align: center;
      line-height: 34px;
      width: 95px;
      height: 34px;
      background: rgba(238, 238, 238, 1);
      border-radius: 2px;
    }
    .active {
      background: rgba(252, 84, 40, 0.3);
      color: #fc5428;
      font-weight: 600;
    }
  }
  .select {
    padding: 20px 15px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    position: relative;
    .label {
      float: left;
      width: 255px;
      span {
        width: 18px;
        height: 20px;
        background: rgba(252, 84, 40, 1);
        border-radius: 2px;
        display: inline-block;
        color: #fff;
        text-align: center;
      }
    }
    .mid {
      float: left;
      color: #848484;
      text-align: right;
      min-width: 70px;
    }
    img {
      width: 8px;
      height: 13px;
      position: absolute;
      top: 23px;
      right: 15px;
    }
  }
  .sure {
    width: 292px;
    line-height: 44px;
    background: rgba(252, 84, 40, 1);
    border-radius: 5px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-top: 80px;
  }
  .start {
    width: 292px;
    height: 44px;
    background: rgba(252, 84, 40, 1);
    border-radius: 5px;
    text-align: center;
    line-height: 44px;
    text-align: center;
    font-size: 15px;
    margin: 50px auto;
    color: #fff;
  }
  .setAge {
    background-color: #fff;
    overflow: hidden;

    .tips {
      padding: 16px;
      font-size: 13px;
      border-bottom: 1px solid #ddd;
      position: relative;
      span {
        position: absolute;
        top: 15px;
        right: 15px;
        color: #fc5428;
      }
    }
    .picker {
      width: 85px;
      float: left;
    }
    .left {
      margin-left: 105px;
    }
    .heng {
      float: left;
      color: #fc5428;
      font-size: 30px;
      margin-top: 87px;
    }
  }
  .setSex {
    // height: 126px;
    background-color: #fff;
    & > div {
      line-height: 42px;
      border-bottom: 1px solid #ddd;
      text-align: center;
      &:last-of-type {
        border: none;
      }
    }
  }
}
