.container {
  position: fixed;
  width: 100%;
  height: 100%;
  .back {
    padding: 3px 10px;
    position: fixed;
    top: 25px;
    left: 15px;
    line-height: 20px;
    border-radius: 10px;
    z-index: 99999;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .talk {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    .words {
      position: absolute;
      bottom: 0;
      left: 0;
      box-sizing: border-box;
      width: 100%;
      height: 431px;
      background: rgba(255, 255, 255, 1);
      padding: 10px;
      border-radius: 15px 15px 0px 0px;
      .num {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: rgba(16, 16, 16, 1);
        padding-bottom: 20px;
      }
      .ver {
        height: 350px;
        .item {
          position: relative;
          padding-left: 40px;
          .img {
            width: 34px;
            height: 34px;
            border-radius: 50%;
            position: absolute;
            overflow: hidden;
            left: 0;
            top: 0;
            background-color: #ccc;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .name {
            font-size: 14px;
            font-weight: bold;
            color: rgba(136, 137, 139, 1);
          }
          .content {
            max-width: 200px;
            margin-top: 3px;
            font-size: 15px;
            color: rgba(16, 16, 16, 1);
          }
          .time {
            font-size: 10px;
            color: rgba(117, 117, 117, 1);
            margin-bottom: 10px;
          }
          .zan {
            float: right;
            font-size: 13px;
            color: rgba(204, 204, 204, 1);
            text-align: center;
            font-weight: 400;
            position: relative;
            width: 19px;
            margin-right: 10px;
            img {
              width: 19px;
              height: 19px;
              display: block;
            }
            div {
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
            }
          }
          .active {
            color: #fc562b;
          }
          .child {
            padding-left: 25px;
            position: relative;
            .zuozhe {
              width: 29px;
              line-height: 14px;
              background: rgba(252, 86, 43, 1);
              border-radius: 3px;
              font-size: 10px;
              color: rgba(255, 255, 255, 1);
              text-align: center;
              display: inline-block;
              vertical-align: middle;
            }
            .img2 {
              width: 18px;
              height: 18px;
              border-radius: 50%;
              position: absolute;
              overflow: hidden;
              left: 0;
              top: 0;
              background-color: #ccc;
              img {
                width: 100%;
                height: 100%;
              }
              .content {
                min-width: 170px;
              }
            }
          }
        }
      }
    }
    .input {
      line-height: 35px;
      border-top: 1px solid #ddd;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      font-size: 12px;
      padding-left: 15px;
    }
  }
  .speak {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20000;
    background-color: rgba(0, 0, 0, 0.2);
    .input {
      height: 50px;
      position: absolute;
      background-color: #fff;
      width: 100%;
      bottom: 0;
      left: 0;
      input {
        width: 270px;
        height: 30px;
        background: rgba(243, 243, 243, 1);
        border-radius: 5px;
        position: absolute;
        left: 17px;
        margin: 10px 0;
        padding-left: 15px;
      }
      .btn {
        text-align: center;
        width: 45px;
        line-height: 31px;
        background: rgba(252, 84, 40, 1);
        border-radius: 4px;
        position: absolute;
        margin: 10px 0;
        right: 11px;
        font-size: 13px;
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  .spanLabel {
    display: inline-block;
    vertical-align: middle;
    // width: 40px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 9px;
    border-radius: 8px;
    color: #fff;
    padding: 1px 4px;
    white-space: nowrap;
  }
  video {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .info {
    // position: re;
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    .board {
      width: 111px;
      height: 135px;
      background: rgba(255, 193, 253, 1);
      border-radius: 4px;
      position: absolute;
      top: 200px;
      left: 15px;
      padding: 10px;
      span {
        line-height: 9px;
        background-color: #fc5428;
        display: inline-block;
        text-align: center;
        border-radius: 1px;
        padding: 2px;
        font-size: 9px;
        color: #fff;
      }
      .active {
        background: rgba(23, 157, 228, 1);
      }
      .spanName {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 40px;
        display: inline-block;
        vertical-align: middle;
      }
      .p1 {
        padding-left: 28px;
        position: relative;
        .user {
          font-size: 10px;
          font-weight: 500;
          color: rgba(16, 16, 16, 1);
        }
        .force {
          font-size: 9px;
          color: rgba(16, 16, 16, 1);
        }
      }
      .p2 {
        padding-right: 28px;
        position: absolute;
        bottom: 10px;
        width: 110px;
        box-sizing: border-box;
        text-align: right;
        .user {
          font-size: 10px;
          font-weight: 500;
          color: rgba(16, 16, 16, 1);
        }
        .force {
          font-size: 9px;
          color: rgba(16, 16, 16, 1);
        }
        .img {
          width: 23px;
          height: 23px;
          border-radius: 50%;
          overflow: hidden;
          position: absolute;
          right: 0;
          left: auto;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .img {
        width: 23px;
        height: 23px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        left: 0;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .pk {
        width: 70px;
        height: 33px;
        margin: 0 auto;
        display: block;
        margin-top: 10px;
      }
      .labelTime {
        padding: 0 5px;
        line-height: 15px;
        background: rgba(252, 84, 40, 1);
        text-align: center;
        color: #fff;
        border-radius: 5px;
        font-size: 10px;
        display: inline-block;
      }
    }
    .board2 {
      width: 111px;
      height: 135px;
      background: rgba(255, 193, 253, 1);
      border-radius: 4px;
      position: absolute;
      top: 200px;
      left: 15px;
      padding: 10px;
      span {
        line-height: 9px;
        background-color: #F2F2F2;
        display: inline-block;
        text-align: center;
        border-radius: 1px;
        padding: 2px;
        font-size: 9px;
        color: #000;
      }
      .active {
        background: rgba(23, 157, 228, 1);
        color: #fff;
      }
      .spanName {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 40px;
        display: inline-block;
        vertical-align: middle;
      }
      .p1 {
        padding-left: 28px;
        position: relative;
        .user {
          font-size: 10px;
          font-weight: 500;
          color: rgba(16, 16, 16, 1);
        }
        .force {
          font-size: 9px;
          color: rgba(16, 16, 16, 1);
        }
      }
      .p2 {
        padding-right: 28px;
        position: absolute;
        bottom: 10px;
        width: 110px;
        box-sizing: border-box;
        text-align: right;
        .user {
          font-size: 10px;
          font-weight: 500;
          color: rgba(16, 16, 16, 1);
        }
        .force {
          font-size: 9px;
          color: rgba(16, 16, 16, 1);
        }
        .img {
          width: 23px;
          height: 23px;
          border-radius: 50%;
          overflow: hidden;
          position: absolute;
          right: 0;
          left: auto;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .img {
        width: 23px;
        height: 23px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        left: 0;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .pk {
        width: 70px;
        height: 33px;
        margin: 0 auto;
        display: block;
        margin-top: 25px;
      }

    }
    .dan {
      width: 255px;
      max-height: 200px;
      position: absolute;
      bottom: 77px;
      left: 15px;
      .item {
        padding: 3px 8px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 12px;
        font-size: 13px;
        border-radius: 12px;
        color: #ffff50;
        display: inline-flex;
        width: auto;
        margin-bottom: 10px;
        .userName {
          white-space: nowrap;
        }
        .content {
          img {
            vertical-align: middle;
            width: 12px;
            height: 12px;
            margin-left: 2px;
            margin-top: -2px;
          }
        }
      }
    }
    .cover {
      width: 100%;
      height: 100%;
    }
    .name {
      // min-width: 3px;
      height: 36px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 18px;
      position: absolute;
      padding-left: 44px;
      overflow: hidden;
      left: 11px;
      top: 66px;
      padding-right: 40px;
      .img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        left: 0;

        img {
          width: 100%;
          height: 100%;
        }
      }
      .focus {
        width: 35px;
        line-height: 26px;
        background: rgba(252, 84, 40, 1);
        border-radius: 13px;
        font-size: 10px;
        position: absolute;
        right: 0;
        top: 5px;
        color: #fff;
        text-align: center;
      }
      .active {
        border: none;
        font-size: 9px;
        background: rgba(252, 84, 40, 1);
      }
      color: #fff;
      font-size: 13px;
    }
    .fire {
      // min-width: 63px;
      height: 25px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 13px;
      font-size: 12px;
      line-height: 25px;
      color: #fff;
      padding-right: 5px;
      img {
        width: 13px;
        height: 16px;
        vertical-align: middle;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: -2px;
      }
      position: absolute;
      right: 11px;
      top: 67px;
    }
    .instro {
      position: absolute;
      max-width: 140px;
      overflow: hidden;
      top: 110px;
      left: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      // margin-top: 60px;
      padding-left: 5px;
      padding-right: 5px;
      // margin-left: 12px;
      line-height: 17px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 8px;
      font-size: 12px;
      font-family: PingFang SC;
      font-weight: 400;
      color: rgba(255, 9, 3, 1);
    }
    .corn {
      min-width: 101px;
      height: 25px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 13px;
      font-size: 12px;
      line-height: 25px;
      color: #fff;
      padding-right: 5px;
      img {
        width: 20px;
        height: 17px;
        vertical-align: middle;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: -2px;
      }
      position: absolute;
      right: 11px;
      top: 104px;
    }
    .doc {
      min-width: 101px;
      height: 25px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 13px;
      font-size: 12px;
      line-height: 25px;
      color: #fff;
      padding-right: 5px;
      img {
        width: 12px;
        height: 14px;
        vertical-align: middle;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: -2px;
      }
      position: absolute;
      left: 12px;
      top: 135px;
    }
    .startPk {
      position: absolute;
      bottom: 77px;
      right: 20px;
      img {
        width: 54px;
        height: 50px;
      }
    }
    .hide {
      position: absolute;
      right: 14px;
      bottom: 22px;
      width: 37px;
      height: 37px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      img {
        width: 21px;
        height: 13px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
    }
    .zan {
      position: absolute;
      right: 71px;
      bottom: 22px;
      width: 37px;
      height: 37px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      text-align: center;
      font-size: 9px;
      font-family: PingFang SC;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      img {
        width: 16px;
        height: 19px;
        margin-top: 8px;
        // position: absolute;
        // left: 50%;
        // transform: translateX(-50%);
        // top: 3px;
      }
      .zanNum {
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .chat2 {
      position: absolute;
      left: 15px;
      bottom: 22px;
      width: 37px;
      height: 37px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      text-align: center;
      font-size: 9px;
      font-family: PingFang SC;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      img {
        width: 19px;
        height: 19px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
      .chatNum {
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .share {
      position: absolute;
      right: 127px;
      bottom: 22px;
      width: 37px;
      height: 37px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      img {
        width: 19px;
        height: 20px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
    }
    .gift {
      right: 184px;
      background: linear-gradient(90deg, rgba(255, 189, 136, 1), rgba(255, 116, 180, 1));
    }
    .chat {
      width: 109px;
      position: absolute;
      left: 12px;
      bottom: 22px;
      line-height: 30px;
      background: rgba(255, 255, 255, 1);
      border-radius: 15px;
      img {
        width: 18px;
        height: 17px;
        vertical-align: middle;
        margin-left: 20px;
        margin-right: 5px;
        margin-top: -3px;
      }
      font-size: 13px;
    }
    .chatContent {
      width: 255px;
      height: 170px;
      background-color: #aaa;
      position: absolute;
      bottom: 74px;
      left: 9px;
      overflow: hidden;
      .chatItem {
        display: inline-block;
        padding: 6px;
        background: rgba(0, 0, 0, 0.3);
        font-size: 13px;
        border-radius: 12px;
        // -webkit-clip-path: inset(25% 0 round 0 25%);
        position: relative;
        color: #ffff50;
        .la {
          display: inline-block;
          vertical-align: middle;
          margin-top: -7px;
          margin-right: 3px;
        }
        .na {
          color: #ff0903;
        }
        .content {
          max-width: 150px;
          float: left;
          // position: absolute;
          // left: 60px;
          margin-left: 110px;
          margin-top: -15px;
        }
      }
    }
    .guide {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      right: 0;
      top: 0;
      .up {
        position: absolute;
        top: 103px;
        left: 172px;
        width: 33px;
        height: 31px;
      }
      .down {
        position: absolute;
        top: 377px;
        left: 172px;
        width: 33px;
        height: 31px;
      }
      .left {
        position: absolute;
        width: 30px;
        height: 40px;
        left: 32px;
        top: 296px;
      }
      .right {
        position: absolute;
        width: 30px;
        height: 40px;
        right: 32px;
        top: 296px;
      }
    }
  }
  .share {
    width: 306px;
    height: 180px;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    .title {
      font-size: 15px;
      font-family: PingFang SC;
      font-weight: 500;
      color: rgba(16, 16, 16, 1);
      padding-top: 20px;
      text-align: center;
    }
    .tips {
      width: 228px;
      font-size: 12px;
      font-family: PingFang SC;
      font-weight: 400;
      color: rgba(132, 132, 132, 1);
      line-height: 19px;
      margin: 0 auto;
      margin-top: 20px;
    }
    .btns {
      overflow: hidden;
      div {
        float: left;
        line-height: 35px;
        text-align: center;
        margin-top: 23px;
        &:first-of-type {
          width: 114px;
          height: 35px;
          background: rgba(255, 255, 255, 1);
          border: 1px solid rgba(221, 221, 221, 1);
          border-radius: 2px;
          margin-left: 35px;
          margin-right: 11px;
        }
      }
      button {
        width: 114px;
        line-height: 35px;
        background: rgba(252, 84, 40, 1);
        border-radius: 2px;
        color: #fff;
        float: left;
        margin-top: 23px;
      }
    }
  }
}
